extends layout/app.pug

block page
  include ./chunk/header.pug
  main
    include ./chunk/hero.pug
    include ./chunk/search.pug
    include ./chunk/services.pug
    include ./chunk/about.pug
    include ./chunk/projects.pug
    include ./chunk/posts.pug
  include ./chunk/footer.pug
