footer.footer
  .container.footer__container
    a.logo(href="#")
      img.logo__img(src="img/Logo.svg", alt="logo")
    .footer__address.address
      span.address__text Zürich, Switzerland Bahnhofstrasse 7/1
      a.address__tel(href="tel:441793123456") 44 1793 123 456
    ul.footer__list.footer-list
      li.footer-list__item
        a.footer-list__link(href="#") Project
      li.footer-list__item
        a.footer-list__link(href="#") Services
      li.footer-list__item
        a.footer-list__link(href="#") About
    ul.footer__list.footer-list
      li.footer-list__item
        a.footer-list__link(href="#") Facebook
      li.footer-list__item
        a.footer-list__link(href="#") Instagram
      li.footer-list__item
        a.footer-list__link(href="#") Twitter
