header.header
  .container.header__container
    a.logo.header__logo(href="#")
      img.logo__img(src="img/logo.svg", alt="logo")
    nav.nav
      ul.nav__list
        li.nav__item
          a.nav__link Home
        li.nav__item
          a.nav__link Project
        li.nav__item
          a.nav__link Services
        li.nav__item
          a.nav__link About
    .header__right
      select.language
        option.language__item Eng
        option.language__item Ru
        option.language__item Ua
      button.btn.header__btn Contact
