section.hero
  .container.hero__container
    .hero__top
      h1.title.hero__title Architecture that recognizes all your sensibilities
      p.descr.hero__descr Welcome to Archee, a reliable business partner on your path to building a better looking future for all.
      button.btn.hero__btn Make An Enquiry
    .hero__bottom
      .ratings.rating
        h2.rating__title Ratings #[span 5.0]
        p.descr.rating__descr Trusted by Clients From Worldwide
        ul.rating__list
          li.rating__item
            img.rating__img(src="img/avatar-1.png", alt="avatar")
          li.rating__item
            img.rating__img(src="img/avatar-1.png", alt="")
          li.rating__item
            img.rating__img(src="img/avatar-1.png", alt="")
          li.rating__item
            img.rating__img(src="img/avatar-1.png", alt="")
          li.rating__item
            span.rating__text +4k
      .callback.hero__callback
        a.callback__phone(href="tel:+6530025656376") +65-3002 56 56 376
        p.descr.callback__info If you're in a hurry, quick call for us. We are here 24/7 to help you asap.
