section.posts
  .container
    h2.vhidden posts
    .post
      .post__item
        img.post__img(src="img/post_1.jpg", alt="post")
        .post__block
          .post__data.post-data
            span.post-data__data 16th Dec, 2021
            span.post-data__author Esther Howard
          h3.title.title_divider.post__title How To Choose The Best Outdoor Decor
          p.descr.post__descr Getting out in fresh air and shaking off too much indoor, screen time should be important to everyone. We’re designed to endure different temperatures and weather systems...
      .post__item
        img.post__img(src="img/post_2.jpg", alt="post")
        .post__block
          .post__data.post-data
            span.post-data__data 20th Dec, 2021
            span.post-data__author Leslie Alexander
          h3.title.title_divider.post__title What Clients Want in Their Kitchen: The Perfect Range
          p.descr.post__descr I’ve learned that the number one appliance that clients want in their kitchen is the perfect range. That’s because a number of my design clients are serious home cooks...
