section.projects
  .container
    h2.title.projects__title Selected Projects
    .project
      .project__item
        img.project__img(src="img/project_1.jpg", alt="project image")
        .project__block
          h3.title.title_divider.project__title Outdoor structure
          p.descr.project__descr Ed ea inciderint con cludatu alia assum assen tior id nec, duo debet mundi cons equnt rei. No sed regione sapient assentior, men itum.
      .project__item
        img.project__img(src="img/project_2.jpg", alt="project image")
        .project__block
          h3.title.title_divider.project__title Indoor structure
          p.descr.project__descr Ed ea inciderint con cludatu alia assum assen tior id nec, duo debet mundi cons equnt rei. No sed regione sapient assentior, men itum.
      .project__item
        img.project__img(src="img/project_3.jpg", alt="project image")
        .project__block
          h3.title.title_divider.project__title Modern Furniture
          p.descr.project__descr Ed ea inciderint con cludatu alia assum assen tior id nec, duo debet mundi cons equnt rei. No sed regione sapient assentior, men itum.
      .project__item
        img.project__img(src="img/project_4.jpg", alt="project image")
        .project__block
          h3.title.title_divider.project__title Modern Kitchen
          p.descr.project__descr Ed ea inciderint con cludatu alia assum assen tior id nec, duo debet mundi cons equnt rei. No sed regione sapient assentior, men itum.

