section.projects
  .container.projects__container
    h2.vhidden all projects
    .project
      .project__item.project__item--technical
        h3.title.project__title Arch & Interior
        p.descr.project__descr We bring magic in the building and interior to fulfill your dream home.
        a.project__link 120 Projects
      .project__item.project__item--design
        h3.title.project__title Design
        p.descr.project__descr Creative design with digital products that help you promote your business.
        a.project__link 50 Projects
      .project__item.project__item--building
        h3.title.project__title Product
        p.descr.project__descr We bring magic in the building & interior to fulfill your dream home.
        a.project__link 310 Projects
