section.search
  .search__container
    h2.title.search__title Search the price you looking for
    form.search__form(action="")
      input.search__input.search__input--location(type="text", placeholder="Location")
      input.search__input.search__input--type(type="text", placeholder="Type")
      input.search__input.search__input--budget(type="text", placeholder="Budget")
      button.btn.search__btn Search Now
