section.services
  .container.services__container
    h2.vhidden all projects
    .service
      .service__item.service__item--technical
        h3.title.service__title Arch & Interior
        p.descr.service__descr We bring magic in the building and interior to fulfill your dream home.
        a.service__link 120 projects
      .service__item.service__item--design
        h3.title.service__title Design
        p.descr.service__descr Creative design with digital products that help you promote your business.
        a.service__link 50 projects
      .service__item.service__item--building
        h3.title.service__title Product
        p.descr.service__descr We bring magic in the building & interior to fulfill your dream home.
        a.service__link 310 projects
